@model DOANCUOIKI.Models.Ban

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
   Bạn đang chỉnh sửa bàn số @Model.SoBan?
</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SoBan" />
            <div class="form-group">
                <label asp-for="SoBan" class="control-label"></label>
                <input asp-for="SoBan" class="form-control" />
                <span asp-validation-for="SoBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SLNguoi" class="control-label"></label>
                <input asp-for="SLNguoi" class="form-control"min="1" />
                <span asp-validation-for="SLNguoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" min="0" max="1"/>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
