@model DOANCUOIKI.Models.HoaDon

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHD" />
            <div class="form-group">
                <label asp-for="SoBan" class="control-label"></label>
                <input asp-for="SoBan" class="form-control" />
                <span asp-validation-for="SoBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayVao" class="control-label"></label>
                <input asp-for="NgayVao" class="form-control" />
                <span asp-validation-for="NgayVao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayRa" class="control-label"></label>
                <input asp-for="NgayRa" class="form-control" />
                <span asp-validation-for="NgayRa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdThanhToan" class="control-label"></label>
                <input asp-for="IdThanhToan" class="form-control" />
                <span asp-validation-for="IdThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
